*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 3em;
    width: 100%;
    gap: 20px;
 }

 .btn{
    height: 2rem;
    width: 9rem;
    cursor: pointer;
 }
 