.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 3em;
    width: 100%;
    gap: 20px;
}
.img{
    
    height: 40px;
    width: 40px;
}
.btn{
    width: 7rem;
    height: 2rem;
}